body {
    background-color: #23272A;
    color: #FFFFFF !important;
}

.link {
    color: #7289DA !important;
}

h1,h2,h3,h4,h5,h6,p {
    color: #FFFFFF;
}

hr {
    background-color: #FFFFFF;
}

.bg-not-quite-black  {
  background-color: #2C2F33 !important;
  color: #FFFFFF !important;
}

a {
  color: #7289da;
}

a:hover {
  color: #4d5e94;
}

code {
  color: #eb1e66;
}
                        
blockquote {
  border-left: 5px solid #7289DA;
  border-radius: 3px;
  margin-left: 3px;
  padding: 2px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #d3d3d3;
}

::-webkit-scrollbar-thumb {
  background: #4D5E94;
}

::-webkit-scrollbar-thumb:hover {
  background: #3E4D80;
}

code, pre {
  border-radius: 5px;
}

.btn {
  box-shadow: 5px 5px #23272A !important;
}
